<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />
  </head>
  <body>
    <!-- ERROR 404 -->
    <ul>
      <li><a href="./index.html">Home</a></li>
      <li><a href="./books.html">Book List</a></li>
      <li><a href="./contact_us.html">Contact Us</a></li>
      <li><a href="./survey.html">Survey</a></li>
      <li><a href="./search_books">Search Book List</a></li>
      <li><a href="./admin">Admin</a></li>
      <li><a href="./insert">Add New Book</a></li>
    </ul>
    <style>
      body {
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Statsbiblioteket_l%C3%A6sesalen-2.jpg/1280px-Statsbiblioteket_l%C3%A6sesalen-2.jpg');
      }
      </style>
    <div
      class="error"
      style="margin-left: 25%; padding: 1px 16px; height: 1000px"
      color
    >
      <h1 style="color:rgb(7, 7, 7)">404 Error</h1>
      <p style="color:rgb(12, 12, 12)">Sorry, the page you are looking for is not found.</p>
    </div>
  </body>
</html>
