<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/nav-bar.css" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <ul>
      <ul>
        <li class="active" style="background-color: #f37575">
          <a href="./">Home</a>
        </li>
        <li><a href="./books" style="color:rgb(7, 7, 7);"> Book List</a></li>
        <li><a href="./search_books" style="color:rgb(15, 15, 15);">Search Book List</a></li>
        <li><a href="./admin">Admin</a></li>
        <li><a href="./insert">Add New Book</a></li>
      </ul>
    </ul>
    <style>
      body {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Statsbiblioteket_l%C3%A6sesalen-2.jpg/1280px-Statsbiblioteket_l%C3%A6sesalen-2.jpg');
      }
      </style> 
    <!-- Center Horizontal and Vertical -->
    <div
      style="
        margin-left: 5%;
        padding: 8px 16px;
        height: 100%;
        text-align: center;
        font-size: 28;
        
      "

      
    >
    <body style="background-color:rgb(159, 245, 255);"></body>
      <h1 style="text-align: center"><b style="color:rgb(255, 251, 251);">Welcome to Sun-Light Library</b></h1>
      <div style="text-align: center">
        <h3 style="color:rgb(255, 251, 251);" >Welcome to Sun-Light Library!</h3>
        <p 
        style="color:rgb(255, 251, 251);">Library is a place where we enlighten the darkness of our ignorenc with the light of knowledge. Library is a path and aveunue towards never ending success.
        </p>
        <p1 style= "color:rgb(255, 251, 251);">
          <b>Vision</b><br>
          
          Library is a place where we can find our best friend "the book", a friend that we can always have by our side all the time.<br>
          <p>Please click on any link on the left pane to explore more about our <b><i>Amazing</i> </b>  collection of Books.</p>
                    
          </p1>
      </div>
    </div>
  </body>
</html>
